{% load i18n %}
<div class="container mt-3">
  <div class="row">
    <div class="col-lg  porfolio-heading">
        <h3>{%trans 'Programs'%}</h3>
        <hr>
        <p>{% trans 'The IF manages 22 programs which are aligned to SDP and SDG goals and priorities.The Government funds the IF to execute the financing of projects from each program'%}
        </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg porfolio-heading">
      <h3>{% trans 'ROADS'%}</h3>
      <p>{% trans "Improvements of the Timor-Leste's road network is one of the priorities to diversify the economy"%}</p>
      <h3>{% trans 'AIRPORTS'%}</h3>
      <p>{% trans 'Connecting Timor-Leste to the world is crucial for the economic growth'%}</p>
      <h3>{% trans 'BRIDGES'%}</h3>
      <p>{% trans 'One of the programs with an intensive investment and as an integral part in improving the road network'%}</p>
    </div>
    <div class="col-lg">
      <img class="img-responsive" src="/media/static/images/feature-image.jpg" alt="" style="width: 100%">
    </div>
  </div>
</div>